
/* hides all except the selected tab */
html:not([customizing="true"]):has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden="true"])) .toolbar-items #tabbrowser-tabs tab:not([selected=true]).tabbrowser-tab:not([pinned]){
	display: none; /* this makes all tabs except the selected one hidden */
}
/* the html:not(...):has(...) selector makes the tabs only hidden when the sidebar is open */
/* the html:not([customizing="true"]) makes the tabs show when in the customise firefox page */
html:not([customizing="true"]):has(#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden="true"])) .toolbar-items #tabbrowser-tabs tab[selected=true].tabbrowser-tab:not([pinned])[visuallyselected="true"]{
	--width: calc(100% - 35px);
	width: var(--width)!important; /* this sets the with of the selected tab to 100 */
	max-width: var(--width)!important;
	min-width: var(--width)!important;
	
	position: absolute!important; /* this allows for the tab to have the default left of 0 */
}
#tabbrowser-arrowscrollbox{
	position: relative; /* this allows the position absolute above to be relative to its parent*/
}
/* this makes the titlebar the same height even on the Firefox view tab */
/* note this might not work with different settings for the density */
toolbar toolbarbutton#firefox-view-button{
	padding: 3px 3px 4px 3px!important;
}
/* this makes the Firefox view tab visible */
tab[hidden=true][selected=true][visuallyselected=true]{
	display: block;
}

/* this improves the drop down position and removes the title */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header #sidebar-close,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header spacer,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header #sidebar-title,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header #sidebar-throbber{
	display: none; /* this hides the title and close btn in the tree style tab sidebar */
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header #sidebar-icon{
	width: 0px!important; /* this hides the icon (if dislpay none is used the popup dosent work?) */
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header #sidebar-switcher-arrow{
	transform: rotate(180deg); /* this makes the icon point up not down */
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header{
	bottom: 0;
	position: absolute; /* this puts the open button at the bottom */
	display: block;
	
	padding: 2px!important; /* this adds padding so it isnt next to the edge of the screen */
	border: none!important;/* hide the border at the bottom */
}

/* this makes the sidebar act more like the title bar in f11 fullscreen mode */
html[sizemode="fullscreen"] #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not(:hover){
	width: 1px;
	min-width: 1px; /* sets the width to 1px */
	max-width: 1px;
	
	margin-left: -1px; /* shifts it of screen so the content is full screen */
	position: relative; /* this enables the translate */
	transform: translateX(1px); /* shifts it back on screen but without moving the content */
	z-index: 10; /* this puts it on top of the content */
	opacity: 0; /* this hides it without disabeling the hover */
}
html[sizemode="fullscreen"] #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not(:hover) *{
	display: none; /* hides the content of the sidebar so you cant navigate with keyboard when hidden */
}
html[sizemode="fullscreen"] #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not(:hover) + #sidebar-splitter{
	display: none; /*hides the border between sidebar and content */
}

/* merge the sidebar and titlebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"],
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter{
	margin-top: -1px;/* this removes the border at the top of the sidebar */
}

/* stop the slide animation on f11 fullscreen */
#navigator-toolbox{
	transition: margin-top 0s!important;
}


/* adds back the border on the top of the browser when not in full screen */
html[sizemode="normal"]{
	border-top: 1px solid rgb(112,112,112);
}
html[sizemode="normal"]:-moz-window-inactive{
	border-top: 1px solid rgb(170,170,170);
}
